<a routerLink="/admin/friends/create" class="btn">Add Friend</a>
<table>
  <thead>
  <tr>
    <th>#id</th>
    <th>Name</th><!--    /title-->
    <th>Image</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let friend of friends">
    <td>{{friend.id}}</td>
    <td>{{friend.name}}</td>
    <td><img [src]="friend.image" width="90"  alt="image"/> </td>
    <td>
      <a [routerLink]="['/admin/friends/', friend.id, 'edit']" class="btn">Edit</a>
      <button class="btn btn-del">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
